<div class="navigation-bar ">

    <div class="navigation-container" >

        <div class="navigation-icon" >
            <img src="../../assets/img/brain (1).png" alt="" class="navigation-img">
            <h1 href="" style="color: #FF76B4;">Tumor<span style="color:#67D8FF;">Vision</span></h1>
        </div>

        <div class="navigation-item"> 

            <div>
                <a href="">Home</a>
            </div>

            <div>
                <a href="">Services</a>
            </div>

            <div>
                <a href="">Contact</a>
            </div>

            <div>
                <a href="">Profile</a>
            </div>

        </div>
    </div>

    <div class="navigation-item">

        <div>
            <button class="button-light">Log in</button>
        </div>

        <div>
            <button class="button-dark">Sign up</button>
        </div>

    </div>

</div>

<div class="hero-container">

    <div class="hero-container-left">
        <h1 class="hero-container-title">Antcipating <br> <span >Brain Tumor Risks</span></h1>
        <p class="hero-container-subtext">
            Empowering Early Detection:Our website  <br>
            utlilizes <span>advanced machine learning algorithms</span> to perdict the<br>
            persence of <span>brain tumors.</span><br>
        </p>
        <p class="hero-container-subtext" style="margin: 0 0 30px 0;"><span>Perdict brain tumor </span> risk for early awareness</p>
        <button class="hero-container-button">
            Get Started
        </button>
    </div>

    <div class="hero-container-right">
        <img src="../../assets/img/hero-section-img.png" alt="" style="height: 560px;
        ">
    </div>

</div>

<div class="services">

    <div class="services-left">

        <div class="services-left-upload" >
            
        <img src="../../assets/img/image.png" alt="" style="height: 150px; width: 150px;">
        <input type="file" id="upload" webkitdirectory hidden/>
        <label for="upload">Upload </label>
        <p>Upload a Folder/file</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta, dolores.</p>
        </div>


    </div>
    <div class="services-right">
        <div>
            <p style="margin-top:0; font-weight:600; font-size: 17px;">How to use ? </p>
            <ol style="line-height: 28px;">
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, exercitationem.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quaerat laboriosam facilis. Perferendis, a corrupti.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis explicabo reiciendis molestias at vel consequuntur et architecto adipisci, vero mollitia!</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, iusto.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, laborum?
                </li>
                
            </ol>
        </div>

        <div class="services-right-bottom">
            <p style="font-weight: 600; padding: 10px 0;">Don't have images?Try one of this to see results:</p>
            <img src="../../assets/img/diagnostics-12-02888-g003.png" alt="" style="height: 220px;">
        </div>
    </div>
    
</div>

